Django>=5.2.4
tensorflow>=2.10.0
transformers>=4.30.0
safetensors>=0.3.0
nltk
spacy
textblob
gensim
scikit-learn
pandas
numpy
torch
torchvision
torchaudio
requests
beautifulsoup4
tldextract
whois
joblib
matplotlib
seaborn
PyPDF2
python-dotenv 